h4{
    text-align: center;
    font-size: 75px;
    color: blue;
    margin-top: 450px;
    text-align: center;
}
table, th, td {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    font-size:40px;
    margin-bottom: 350px;
}
nav a{
    color: green;
}

nav a:hover{
background-color: blue;
}

.nav{
    padding: 250px;
    text-align: center;
    font-size: 30px;
    background: url("truck.jpg");
    background-size: cover;
}
.media{
    display: inline-block;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.navbar {
    background-color: blue;
    overflow: hidden;
    position:fixed;
    bottom: 0;
    width: 100%;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: red;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    background-color: #04AA6D;
    color: white;
  }
  body{
    background-image: url('paylesshop.png');
    background-repeat: no-repeat;
    background-size: 2050px 500px;
  }
.introduction span h4{
  
  border-right: 10px solid blue;
  border-left: 10px solid yellow;
  border-top: 10px solid green;
  border-bottom: 10px solid orange;

}

